*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
}

body{
 height: 100vh;
 width: 100%;
 background: #f7f7f7;
}

.wrapper{
 margin: 120px auto;
 max-width: 400px;
 width: 100%;
 background: #fff;
 border-radius: 5px;
 padding: 25px;
 box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
 0 32px 64px -48px rgba(0, 0, 0, 0.5);

}

.wrapper header{
 font-size: 30px;
 font-weight: 600;
 
}

.wrapper img{
  width: 30%;
}

.wrapper .inputField{
 display: flex;
 height: 45px;
 width: 100%;
 margin: 20px 0;
}

.inputField input{
 width: 85%;
 height: 100%;
 border: 1px solid #ccc;
 font-size: 17px;
 border-radius: 3px;
 padding-left: 15px;
}

.inputField button{
 width: 60px;
 height: 100%;
 border: none;
 outline: none;
 background: #333;
 color: #fff;
 font-size: 22px;
 cursor: pointer;
 border-radius: 3px;
 margin-left: 5px;
 opacity: 0.6;

}

.inputField button.active{
 opacity: 1;
 pointer-events: auto;


}

.inputField button i{

  pointer-events: none;transform:rotate(45deg);
  transition: all 0.3s ease-in-out;
 }
 
 .inputField button.active i{

  pointer-events: none;transform:rotate(180deg);
  transition: all 0.3s ease-in-out;
 
 }

.wrapper .todoList{
 max-height: 250px ;
 overflow-y: auto;
 
}

.todoList li{
 list-style: none;
 height: 45px;
 line-height: 45px;
 position: relative;
 background: #f2f2f2;
 border-radius: 3px;
 margin-bottom: 8px;
 padding: 0 15px;
 cursor: default;
 overflow: hidden;
}

.todoList li span{
 position: absolute;
 right: -45px;
 color: #fff;
 width: 45px;
 text-align: center;
 background: #e74c3c;
 border-radius: 0 3px 3px 0;
 cursor: pointer;
 transition: all 0.3s ease;
}

.todoList li:hover span{
 right: 0px;
}

.wrapper .footer{
 display: flex;
 width: 100%;
 align-items: center;
 margin-top: 25px ;
 justify-content: space-between;
}

.footer button{
 border: none;
 outline: none;
 background: #333;
 color: #fff;
 font-size: 16px;
 cursor: pointer;
 border-radius: 3px;
 padding: 6px 10px;
}

.footer button:hover{
 background: #e74c3c;
 content: "";

}


.pendingTasks{
  margin-left: 11px;
}


/* responsivo  */

@media screen and (max-width: 640px) {
 .wrapper {
  margin: 0;
  position: fixed;
  min-height: 640px;

 }

 .wrapper .todoList {
  max-height: 390px;
  overflow-y: auto;
}

.wrapper .footer{
  
  width: 90%;
  position: fixed;
  bottom: 13px;
 }
}